* {
  padding: 0px;
}
body {
  background: radial-gradient(white, grey);
  font-family: "Teko", sans-serif;
}
/* ------------------------------ Class Flx */
.row-even {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* ------------------------------------------------- Structures */
/* ------------------ HEADER */
header {
  background: url("./ressources/img_bg_header.jpg") center/cover;
}
h1 {
  color: aliceblue;
  text-shadow: 1px 1px 2px black;
  font-size: 40px;
}
.img-logo,
.logo-occasion {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
a.navbar-brand,
a.nav-link {
  color: aliceblue;
}
a.navbar-brand:hover,
a.nav-link:hover {
  color: darkgrey;
  text-shadow: 1px 1px 2px black;
}

/* ------------------ MAIN */
/* ------------------ FOOTER */
footer {
  background: radial-gradient(white, grey);
  color: aliceblue;
}
/* ------------------------------------------------- Elements */
.img-services {
  width: 100%;
  border-radius: 30%;
}

p {
  max-width: 80%;
}
table {
  background: radial-gradient(white, darkgrey);
  width: 100%;
  height: 80%;
}
th,
td {
  background: rgba(255, 255, 255, 0);
  text-align: center;
  margin: 2vw;
}
/* ------------------ SHADOWS & Display */
form input.form-control,
form textarea.form-control,
table,
.img-services {
  box-shadow: 2px 2px 2px darkgray, -2px -2px 2px darkgray;
}
.shadow-text {
  text-shadow: 1px 1px 0px black, -1px -1px 0px black;
}
.hide {
  display: none;
}
.show {
  display: block;
}
/* ------------------ CARTES */
.card-img-top,
.crsl-img {
  height: 100%;
}
.carousel-inner {
  height: 300px;
}
.carousel-item {
  width: 100%;
  height: 100%;
}
.commentaire,
.voitures {
  background: radial-gradient(white, darkgray);
}
.voitures {
  height: 100%;
}
/* ------------------------------- MediaQuery */
@media screen and (max-width: 750px) {
  button.login,
  button.btn-outline-light,
  td,
  th,
  h6,
  p,
  li {
    font-size: 20px;
  }
}
@media screen and (min-width: 750px) {
  .carousel-inner {
    width: 50vw;
    height: 60vh;
  }
  button.login,
  button.btn-outline-light,
  td,
  th h6,
  p,
  li {
    font-size: 25px;
  }
}
